@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(40, 40, 41) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(42, 6, 174) 0, transparent 50%);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}